.checkout-item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    min-height: 100px;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
    border-bottom: 1px solid grey;
    .image-container {
      width: 23%;
      padding-right: 15px;
  
      img {
        width: 50%;
        height: 50%;
      }
    }
    .name,
    .price {
      width: 23%;
    }
  
    .remove-button {
      padding-left: 12px;
      cursor: pointer;
    }
  }
  